.dashboard {
  display: flex;
  flex: 1;
}

.sidebar {
  border-inline-end: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > * {
    padding: 1rem;
  }
}

.sidebarBottom {
  border-block-start: 1px solid var(--color-border);
}

.main {
  flex: 1;
  padding-inline: 1rem;
}
