.expenseList {
  display: flex;
  flex-direction: column;
}

.expenseItem {
  align-items: center;
  background-color: var(--color-surface);
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

.itemDetails {
  flex: 1;
}

.itemButtons {
  align-items: center;
  display: flex;
  gap: var(--space-4);
  button {
    border: none;
    padding: 0;
    &:hover {
      background-color: transparent;
      color: var(--color-accent);
    }
  }
}

.dateAndPayer {
  display: flex;
  font-size: var(--text-sm);
  gap: var(--space-2);
}

.amountAndButtons {
  display: flex;
  gap: var(--space-2);
}

@media (min-width: 64rem) {
}
