.header {
  display: flex;
  justify-content: space-between;
}

.headerNameAndDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    color: var(--color-text-secondary);
  }
}

.headerButtons {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
}

.memberList {
  display: flex;
}

.memberListContainer {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.memberBubble {
  background-color: var(--color-accent);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-border);
  color: var(--color-bg-primary);
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: -0.675rem;
  width: 2rem;
  height: 2rem;
}

.memberCount {
  color: var(--color-text-secondary);
}
