.top {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block-end: 2rem;
}

.bottom {
  margin-top: var(--space-8);
}

.bottomStats {
  display: flex;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerNameAndDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headerButtons {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  position: relative;
}

.statRow {
  align-items: center;
  display: flex;
  gap: var(--space-8);
}

.memberListContainer {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.memberList {
  display: flex;
  & li:not(:first-child) .memberBubble {
    margin-inline-start: -0.675rem;
  }
}

.memberBubble {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-border);
  color: var(--color-bg-primary);
  display: none;
  font-size: var(--text-sm);
  font-weight: var(--font-bold);
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.expenseActivityCard {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  margin-top: var(--space-4);
}

@media (min-width: 48rem) {
  .headerButtons {
    flex-direction: row;
    gap: 1rem;
  }

  .memberBubble {
    display: flex;
  }
}
